{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static 'css/storage-style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>
    <nav class="container">
        <h1>{{ profile }}</h1>
        <h2>Выберите исходный склад</h2>
        <form id="warehouses" method="post">
            {% csrf_token %}
            <div class="warehouses">
                <div class="warehouse-block">
                    <h3>Пемещаем из</h3>
                    <select form="warehouses" name="warehouse-start">
                    {% for warehouse in ware_start %}
                        <option>{{ warehouse }}</option>
                    {% endfor %}
                    </select>
                    <button form="warehouses" class="border green">Выбрать</button>
                </div>
            </div>
        </form>
    </nav>
</body>
</html>