{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static '/css/report.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<title>Отчёт</title>
</head>
<body>
    <nav class="container">
        <h1>{{ profile }}</h1>
        <h3>Отдел - {{ department }}</h3>
        <div class="date">
            <h3>Период с {{ start }} по {{ end }}</h3>
        </div>
        {% if pockets %}
        <div class="material">
            <h2>Карманы</h2>
            <ul>
                {% for pocket in pockets %}
                    <div class="cell">
                        <div class="cell-top">
                            <li>{{ pocket.name }}</li>
                            <div class="cell-top-right">
                                <h4>{{ pocket.summa }} шт.</h4>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if priceholders %}
        <div class="material">
            <h2>Ценникодержатели</h2>
            <ul>
                {% for priceholder in priceholders %}
                    <div class="cell">
                        <div class="cell-top">
                            <li>{{ priceholder.name }}</li>
                            <div class="cell-top-right">
                                <h4>{{ priceholder.summa }} шт.</h4>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if plasticholders %}
        <div class="material">
            <h2>Пластиковые держатели</h2>
            <ul>
                {% for plasticholder in plasticholders %}
                    <div class="cell">
                        <div class="cell-top">
                            <li>{{ plasticholder.name }}</li>
                            <div class="cell-top-right">
                                <h4>{{ plasticholder.summa }} шт.</h4>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if pricepapers %}
        <div class="material">
            <h2>Бумага для ценников</h2>
            <ul>
                {% for pricepaper in pricepapers %}
                    <div class="cell">
                        <div class="cell-top">
                            <li>{{ pricepaper.name }}</li>
                            <div class="cell-top-right">
                                <h4>{{ pricepaper.summa }} шт.</h4>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if others %}
        <div class="material">
            <h2>Разное</h2>
            <ul>
                {% for other in others %}
                    <div class="cell">
                        <div class="cell-top">
                            <li>{{ other.name }}</li>
                            <div class="cell-top-right">
                                <h4>{{ other.summa }} шт.</h4>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </nav>
    {% if not pockets and not priceholders and not plasticholders and not pricepapers and not others %}
        <div class="empty-cart">
            <h1>Нет списанных материалов за период</h1>
        </div>
    {% endif %}
    <footer>
        <div class="nav-buttons">
            <li><a class="nav-button" href="{% url 'trigger_error' %}">Сохранить</a></li>
            <li><a class="nav-button" href="/">Главное меню</a></li>
        </div>
        <div class="description">
            <p>LM LocDev  <img src="{% static '/images/Logo_LM.svg' %}" height="30px"></p>
        </div>
    </footer>
</body>
</html>