{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static 'css/report-style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>
    <nav class="container">
        <h1>{{ profile }}</h1>
        <h2>Выберите период и отдел</h2>
        <div class=""></div>
        <form id="date" method="post">
            {% csrf_token %}
        </form>
            <div class="calendar">
                <div class="calendar-block">
                    <p>Начало периода</p>
                    <input form="date" name="start-date" type="date" value="{{ current_date }}" max="{{ current_date }}">
                </div>
                <div class="calendar-block">
                    <p>Конец периода</p>
                    <input form="date" name="end-date" type="date" value="{{ current_date }}" max="{{ current_date }}">
                </div>
            </div>
            <div class="department">
                <p>Отдел</p>
                <select form="date" name="department">
                  <option>Общий</option>
                    {% for dept in department %}
                        <option>{{ dept }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="border green" type="submit" form="date">Сформировать</button>
        </nav>
    {% for material in materials %}
        <p>{{ material.type }} {{ material.name }} {{ material.department }} {{ material.quantity }} {{ material.date }} {{ material.shop }}</p>
    {% endfor %}
    <footer>
        <p>LM LocDev  <img src="{% static 'images/Logo_LM.svg' %}" height="30px"></p>
    </footer>
</body>
</html>