* body * {
		font-family: 'Roboto', sans-serif;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

nav{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pockets{
	display: none;
}

.priceholders{
	display: none;
}

.plasticholders{
	display: none;
}
.pricepapers{
	display: none;
}
.others{
	display: none;
}
.warehouse-block {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    min-width: 340px;
}

input, select{
	padding: 9px 0 9px 0;
    border: 2px solid rgb(33, 126, 74);
    border-radius: 5px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: end;
}

select{
	width: 200px;
	text-align-last: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button{
	width: 300px;
	height: 60px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}

.border{
	border: 2px solid rgb(33, 126, 74);
	border-radius: 5px;
}

.green {
	background-color: rgb(90, 176, 48);
	transition: background-color 0.4s linear;
}

button.green:hover {
	background-color: rgb(72, 140, 38);
}
a.green{
 	width: 100%;
 	padding-top: 15px;
 	height: 70%;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: background-color 0.4s linear;
}

footer{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0px;
	font-size: 10px;
	width: 100%;
}

.nav-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-buttons > li{
    width: 30%;
    list-style: none;
    display: flex;
}

.nav-button{
    display: flex;
    height: 35px;
    background-color: rgb(90, 176, 48);
    border: 1px solid rgb(33, 126, 74);
    border-radius: 3px;
    transition: background-color 0.4s linear;
    font-size: 15px;
    padding: 15px 0px 0px 0px;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

.description{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.description > p{
        padding: 0px 10px 0px 0px;
}

.nav-button:hover, .button:hover{
    background-color: rgb(72, 140, 38);
}

@media only screen and (max-width: 360px){
h1{
	font-size: large;
	}
}

@media only screen and (max-width: 768px){
h1{
	font-size: large;
	}
}

@media only screen and (max-width: 967px) {
}
