{% extends 'client/choise_template.html' %}
{% block data %}
    <h1>Выберите Материал</h1>
    <li><a class="green" href="/client/pockets">Карманы</a></li>
    <li><a class="green" href="/client/priceholders">Ценникодержатели</a></li>
    <li><a class="green" href="/client/plasticholders">Пластиковые Держатели</a></li>
    <li><a class="green" href="/client/pricepaper">Бумага для ценников</a></li>
    <li><a class="green" href="/client/other">Прочее</a></li>
{% endblock %}
{% block buttons %}
{% endblock %}