{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Balizaj</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="col-sm"
        <div class="list-group col-sm">
            <h1 class="text-center">Выберите материал</h1>
            <a href="pockets" class="list-group-item list-group-item-action list-group-item-success text-center">Карманы</a>
            <a href="priceholders" class="list-group-item list-group-item-action list-group-item-success text-center">Ценникодержатели</a>
            <a href="plasticholders" class="list-group-item list-group-item-action list-group-item-success text-center">Пластиковые держатели</a>
            <a href="pricepaper" class="list-group-item list-group-item-action list-group-item-success text-center">Бумага для ценников</a>
            <a href="other" class="list-group-item list-group-item-action list-group-item-success text-center xs">Прочее</a>
        </div>
    </div>
</body>
</html>